header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
footer {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

/* nav { */
/*     line-height:30px; */
/*     background-color:#eeeeee; */
/*     height:300px; */
/*     width:100px; */
/*     float:left; */
/*     padding:5px; */
/* } */

body { margin: 60px auto; width: 77%; }


a { text-decoration: none; color: #999; font-size:1.1em;}
a:hover { text-decoration: underline; }

p, ul { font-size: 1.2em; line-height: 1.2em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 2.5em;  }
h2 { font-size: 1.5em; }
h3 { font-size: 1em; }
h4 { font-size: 1em; }



nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px soli #d5d5d5; font-size: .8em; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 2.5em; }
ul.posts li { list-style: none; font-size:0.75em}

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 2em; }
.cv h2 { font-size: 1,7em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }





/*****************************************************************************/
/*
/* Tags
/* modified from https://github.com/lanyonm/lanyonm.github.io/blob/master/_sass/main.scss
/*
/*****************************************************************************/

.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  *zoom: 1;
}

.tag-box:before, .tag-box:after {
  display: table;
  content: "";
  line-height: 0;
}

.tag-box:after {
  clear: both;
}

.tag-box.inline li {
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.5;
}

.tag-box a {
  padding: 4px 6px;
  margin: 2px;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}

.tag-box a span {
  vertical-align: super;
  font-size: 10px;
  font-size: 0.625rem;
}

.post-tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  *zoom: 1;
}

.post-tag-box:before, .post-tag-box:after {
  display: table;
  content: "";
  line-height: 0;
}

.post-tag-box:after {
  clear: both;
}

.post-tag-box.inline li {
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.5;
}

.post-tag-box a {
  padding: 4px 6px;
  margin: 2px;
  background-color: #F0F0F0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
