---
layout: default-no-comment
title: Sijin LI (Mathematics, Machine Learning and Programming )
---


<div class="blurb">
  <h3>Research and Re-search</h3>
<pre>
<code class="language-python">
while (research()): 
    if work():
        search()
    else: 
        re_search()
</code>
</pre>
</div>


<div id="home">
  <h3> Recent posts </h3>
  <ul class="posts">
    {% assign timeframe = 1 %}
    {% assign recent_posts = "now" | date: "%Y" | minus: timeframe  %}
    {% for post in site.posts %}
    {% assign post_in_year = post.date | date: "%Y" | plus: 0 %}
    {% if post_in_year > recent_posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>





