<!DOCTYPE html>

<html>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  
<head>
  <title>{{ page.title }}</title>
  
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<header>
<nav>
  <ul>

    <font size="3">
          
	<li>  <a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/cv">CV</a></li>
	<li><a href="/projects">Projects</a></li>
	<li><a href="/posts">Posts</a> </li>
	<li><a href="/resources">Resources</a></li>

    </font>


    </ul>
</nav>

</header>
	<!-- <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1> -->
<body>
  {{ content }}

 <footer>
       <font size="2" >
      <p class="宋体">
    并双剑, 舞云端
    </p>
       </font>
       	<hr width="80%" size=2 />
    <ul>
      <li><a href="mailto:lisijin7 at gmail dot com">email</a></li>
      <li><a href="https://github.com/sijinli/">github.com/sijinli</a></li>
    </ul>
  </footer>
  
</body>
</html>
