---
layout: default
---

<!-- <!DOCTYPE html> -->
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

{% assign post = page %}
{% assign category = site.my_categories | where: "slug", post.category %}
{% assign category = category[0] %}
{% if category %}
{% capture category_content %}<a class="label" href="{{ category.url }}">{{ category.name }}</a>{% endcapture %}
{% endif %}

{{content}}

<ul class="post-tag-box inline">

  {% for tag in page.tags %}
   <li><a href="{{ site.url }}/pages/posts_by_tag.html#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }} </a></li>
   {% unless forloop.last %}
   {% endunless %}
   {% endfor %}
</ul>



<!-- <p class="m-t-3 text-muted font-italic"> -->
  <!--    <small>Category: {% if category_content %}  </small>{{ category_content }}<small>{% endif %}, tags: {{ tags_content }}</small> -->
  <!--  </p> -->
